NODE_ENV=

# Server
SERVER_PORT=
SERVER_BASE_URL=

# CORS
CORS_ORIGIN=
CORS_DOMAIN=
CORS_CREDENTIALS=
CORS_METHODS=

# MySQL
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_SCHEMA=
DB_PORT=

# Beluga OAuth
BELUGA_OAUTH_URL=

# Register Commerce Service
REGISTER_COMMERCE_SERVICE_URL=

# KUSPIT
KUSPIT_API_URL=
KUSPIT_ID_EMPRESA=
KUSPIT_CLIENT_ID=
KUSPIT_CLIENT_SECRET=
KUSPIT_SCOPE=
KUSPIT_REDIRECT_URI=
KUSPIT_SECRET_KEY=
KUSPIT_PASSWORD_SECRET=

DATABASE_URL=